# Core Django
Django==5.2.6
asgiref==3.9.1
sqlparse==0.5.3

# Django REST Framework
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

# Django Extensions
django-cors-headers==4.3.1
django-leaflet==0.32.0
django-widget-tweaks==1.5.0
