<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-landmark me-2"></i>GeoHeritage</h5>
                <p>Plateforme de gestion et de préservation du patrimoine géographique et culturel.</p>
            </div>
            <div class="col-md-4">
                <h5>Liens rapides</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'heritage:list' %}" class="text-light">Sites patrimoniaux</a></li>
                    <li><a href="{% url 'heritage:map' %}" class="text-light">Carte interactive</a></li>
                    <li><a href="{% url 'api:docs' %}" class="text-light">API Documentation</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope me-2"></i>contact@geoheritage.com</li>
                    <li><i class="fas fa-phone me-2"></i>+33 1 23 45 67 89</li>
                    <li>
                        <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2024 GeoHeritage. Tous droits réservés.</p>
        </div>
    </div>
</footer>
