<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'heritage:list' %}">
            <i class="fas fa-landmark me-2"></i>GeoHeritage
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'heritage:list' %}">
                        <i class="fas fa-monument me-1"></i>Sites Patrimoniaux
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'heritage:nearby' %}">
                        <i class="fas fa-map me-1"></i>Carte
                    </a>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user me-1"></i>{{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'account:profile' %}">Profil</a></li>
                            {% if user.roles.all %}
                                {% for role in user.roles.all %}
                                    {% if role.name == 'Administrateur' %}
                                        <li><a class="dropdown-item" href="/admin/">Administration</a></li>
                                        <li><a class="dropdown-item" href="{% url 'heritage:create' %}">Ajouter un site</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account:logout' %}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">
                            <i class="fas fa-sign-in-alt me-1"></i>Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:register' %}">
                            <i class="fas fa-user-plus me-1"></i>Inscription
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
